<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>
	<appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %-4r [%t] %-5p %c - %m%n</pattern>
		</encoder>
	</appender>




	<logger name="it.cnr.isti.hpc.property" level="ERROR" />
	<logger name="it.cnr.isti.hpc.wikipedia.parser.Locale" level="ERROR" />
	
	<root level="${log:-INFO}">
		<appender-ref ref="A1" />
	</root>

</configuration>